/* le style de la sectin nav */
.navbar{
    padding: 0.8em;
    font-size: 1.2em;
}
/* le style de carousel */
.carousel-caption{
    margin-bottom: 200px ;
}
.carousel-caption .btn-primary{
    background-color: #6648b1;
    border: 1px solid #6648b1;
}
.carousel-caption .btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

/* le style de la partie jumbotron */
.jumbotron{
    
    height: 80px;
}
.jumbotron button{
    background-color: rgb(235, 235, 235);
    border: 1px solid grey;
}

/* le style de la partie des languages de programmation */
.prog{
    margin-top: 50px;
}
.fa-code{
    color: red;
    font-size: 4em;
    font-weight: 600;
}
.fa-bootstrap{
    color: rgb(62, 18, 99);
    font-size: 4em;
    font-weight: 600;
}
.fa-css3{
    color: rgb(0, 81, 255);
    font-size: 4em;
    font-weight: 600;
}

/* le style de la partie if ... */
.monb{
    background-color: #6648b1;
    border: 1px solid #6648b1;
}
.monb:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

/* le style de la partie fun */
.fun{
    text-align: center;
    width: 100%;
}

/* le style de la partie team */
.team h1{
    font-size: 4em;
    font-weight: 200;
}

/* le style de la partie des reseau sociaux */
.sacial{
   
    margin-bottom: 150px;
}

.social a{
    font-size: 4.5em;
    padding: 3rem;
}
.fa-facebook-square{
    color: rgb(57, 57, 168);
}
.fa-twitter{
    color: #00aced;
}
.fa-google-plus-g{
    color: rgb(207, 63, 63);
}
.fa-instagram{
    color: cornflowerblue;
}
.fa-youtube{
    color: rgb(216, 20, 20);
}
.fa-facebook-square:hover,
.fa-twitter:hover, 
.fa-google-plus-g:hover, 
.fa-instagram:hover, 
.fa-youtube:hover{
    color: #d5d5d5;
}
.footer{
    background-color: #3f3f3f;
    padding-top: 2rem;
}
.footer hr{
    background-color: #d5d5d5;
}